
<div class="homeBody">
  <div class="btnTypes">

      <a href="#" class="action-button shadow animate blue" (click)="onSpread()" >Spreads/Collections</a>

      <a href="#" class="action-button shadow animate yellow" (click)="onTracks()" >Trackers</a>

      <a href="#" class="action-button shadow animate green" (click)="onJourn()" >Journaling</a>

  </div>
</div>
<div class="appReferences">
    <app-journaling *ngIf="btnJourn" ></app-journaling>
    <app-trackers *ngIf="btnTracks" ></app-trackers>
    <app-spreads *ngIf="btnSpread" ></app-spreads>
</div>
